
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header {
    background-color: #0f141d;
    color: #ffff;
    font-family: sans-serif;
    height: 100vh;
    width: 100%;
    background: url("../components/images/SparksF1.webp");
  }

  @media screen and (max-width: 380px){
     .header {
      background: url("./images/E-commerce img (4).png");
     }
  }
  
  .brand {
     font-size: 30px;
     color: #55bcc4;
     font-weight: 700;
     font-style: italic;
  }
  
  @media screen and (max-width: 380px){
      .brand {
        font-size: 25px;
        font-weight: 600;
        font-style: italic;
      }
  }
  
  .body {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 115px;
     overflow-x: hidden;
  }
  
  .main-continer {
     height: 390px;
     width: 380px;
     /* background-color: #D4DEED; */
     background-color: transparent rgb(0, 0, 0);
     border-radius: 5px;
     /* box-shadow: rgb(135, 138, 141) 0px 20px 30px -10px; */
     /* box-shadow: rgba(204, 201, 201, 0.35) 0px 5px 15px; */
     /* box-shadow: 10px 10px 103px 0px rgba(0,0,0,0.75); */
     -moz-box-shadow: 10px 10px 103px 0px rgba(0,0,0,0.75);
     box-shadow: 10px 10px 103px 0px rgba(0, 0, 0, 0.75);
     color: rgb(0, 0, 0);
     padding: 20px;
     backdrop-filter: blur(20px); /* Adjust blur level as needed */

  }
  
  .lg-in {
    font-size: 25px;
    font-weight: 650;
    color: rgb(255, 255, 255);
    margin: 25px;
    padding: 5px;
  }
  .inputs {
    display: flex;
    flex-direction: column;
    width: 100%; /* Ensure the inputs take the full width */
    padding: 0 18px; 
    border: none;
  }
   
  .email {
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
  }
  
  .input-txt {
    align-items: center;
     border: none;
     border-bottom: 2px solid rgb(255, 255, 255);
     background-color: transparent;
     color: white;
     height: 20px;
  }
  
  .input-txt:focus {
    outline: none; 
    border-bottom: 2px solid #f3f3f3; 
    background-color: transparent;
    color: white;
  }
  
  
  .input-pass {
    align-items: center;
     border: none;
     border-bottom: 2px solid rgb(255, 255, 255);
     background-color: transparent;
     height: 20px;
     color: white;

  }
  
  .input-pass:focus {
    outline: none; 
    border-bottom: 2px solid #ffffff; 
    background-color: transparent;
    color: white;

  }
  
  .glow-button {
    background: linear-gradient(45deg, hsl(324, 61%, 66%), #544fda);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 60px;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: 0 0 20px rgba(255, 110, 196, 0.5), 0 0 20px rgba(120, 115, 245, 0.5);
  }
  
  .glow-button:hover {
    box-shadow: 0 0 40px rgba(187, 77, 143, 0.75), 0 0 30px rgba(120, 115, 245, 0.75);
  }